# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/traccar/traccar
  tag: 6.12@sha256:b5d6400ae0c465d397cfa7be4e84c57bff87a8aac6ccedcc727f5d05d6c78731
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 8082
        targetPort: 8082
persistence:
  data:
    enabled: true
    mountPath: "/opt/traccar/data"
cnpg:
  main:
    enabled: true
    user: traccar
    database: traccar
securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            CONFIG_USE_ENVIRONMENT_VARIABLES: true
            LOGGER_CONSOLE: true
            DATABASE_DRIVER: "org.postgresql.Driver"
            DATABASE_USER: "{{ .Values.cnpg.main.user }}"
            DATABASE_PASSWORD:
              secretKeyRef:
                name: cnpg-main-user
                key: password
            DATABASE_URL:
              secretKeyRef:
                name: cnpg-main-urls
                key: jdbc
