# yaml-language-server: $schema=./values.schema.json
image:
  repository: oci.trueforge.org/containerforge/theme-park
  pullPolicy: IfNotPresent
  tag: 1.22.0@sha256:66b3139766d34d6a66aa6c77386619b834d2959208a0b4b2d0fb3633085b0f90
service:
  main:
    ports:
      main:
        port: 10244
        targetPort: 8080
persistence:
  config:
    enabled: true
    mountPath: "/config"
