image:
  repository: ghcr.io/taxel/plextraktsync
  tag: 0.34.22@sha256:73a3ebf6edc518d8088dcfebe2c5e57c6bc2e51248c376393b8308497e988ffd
  pullPolicy: IfNotPresent

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0

service:
  main:
    enabled: false
    ports:
      main:
        enabled: false

plextraktsync:
  cron_enabled: true
  task: "sync"
  schedule: "0 */6 * * *"

workload:
  main:
    podSpec:
      containers:
        main:
          tty: true
          stdin: true
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
  plextraktsync-cron:
    enabled: "{{ .Values.plextraktsync.cron_enabled }}"
    type: CronJob
    schedule: "{{ .Values.plextraktsync.schedule }}"
    podSpec:
      restartPolicy: Never
      containers:
        cron:
          primary: true
          enabled: true
          imageSelector: "image"
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          args:
            - "{{ .Values.plextraktsync.task }}"

persistence:
  config:
    enabled: true
    targetSelector:
      main:
        main:
          mountPath: /app/config
      plextraktsync-cron:
        cron:
          mountPath: /app/config
