# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/linuxserver/doublecommander
  pullPolicy: IfNotPresent
  tag: latest@sha256:926e3dfa73cf0ab1111b8f0ab04253624b7778ae9175e6dacf4577071b0d2960
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
service:
  main:
    ports:
      main:
        port: 10034
        targetPort: 3000
workload:
  main:
    podSpec:
      containers:
        main:
          securityContext:
            capabilities:
              add:
                - SYS_CHROOT
                - KILL
                - NET_BIND_SERVICE
          probes:
            liveness:
              type: http
              path: /
            readiness:
              type: http
              path: /
            startup:
              type: http
              path: /
persistence:
  config:
    enabled: true
    mountPath: /config
