# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/whyour/qinglong
  pullPolicy: IfNotPresent
  tag: 2.20.2@sha256:b1f6cd3aa496a8ab55f17ce6b32ed7863d726cda9201b48e1d3a3cfd9ca93295
service:
  main:
    ports:
      main:
        targetPort: 5700
        port: 10176
persistence:
  data:
    enabled: true
    mountPath: "/ql/data"

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
