image:
  repository: docker.io/linuxserver/transmission
  pullPolicy: IfNotPresent
  tag: 4.1.0@sha256:29e631e2216f2d4a5e0f7274b3ef2045901efe1d13df78ef4d4d48e8a9f1b216
service:
  main:
    ports:
      main:
        port: 9091
        targetPort: 9091
  torrent:
    enabled: true
    ports:
      torrent:
        enabled: true
        port: 51414
        protocol: tcp
      torrentudp:
        enabled: true
        port: "{{ .Values.service.torrent.ports.torrent.port }}"
        protocol: udp
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              enabled: true
              type: tcp
            startup:
              enabled: true
              type: tcp
            readiness:
              enabled: true
              type: tcp
          env:
            PEERPORT: "{{ .Values.service.torrent.ports.torrent.port }}"
persistence:
  config:
    enabled: true
    mountPath: "/config"

manifestManager:
  enabled: false
