# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/haveagitgat/tdarr_node
  pullPolicy: IfNotPresent
  tag: 2.59.02@sha256:a2fcaaef1a95a6ce7788ac2edac087e4afc63cf622c11922290f8431dec5d794
service:
  main:
    enabled: false
    ports:
      main:
        enabled: false
persistence:
  configs:
    enabled: true
    mountPath: "/app/configs"
  logs:
    enabled: true
    mountPath: "/app/logs"
  transcode-cache:
    enabled: true
    mountPath: "/temp"
  media:
    enabled: true
    mountPath: "/media"
  varrun:
    enabled: true

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          env:
            # User Defined
            nodeID: "myFirstTdarrNode"
            serverIP: "0.0.0.0"
            serverPort: 8266
