image:
  repository: docker.io/portainer/portainer-ce
  tag: 2.38.1@sha256:3ffd8daa77bf32a4afdabe1708fb20790a1675e519b2fe2dfaa4d08154f5b1f0
  pullPolicy: IfNotPresent
beImage:
  repository: docker.io/portainer/portainer-ee
  tag: 2.38.0@sha256:ed44fa11d80983247c4917c938d7cb97cd01a5cc2660ca7921388250ceb1c25e
  pullPolicy: IfNotPresent
portainer:
  # Logo URL
  logo: ""
  # Enables Edge Compute Features
  edge_compute: false
  # Sets Snapshot interval
  snapshot_interval: 5m
  hide_labels:
  # - label1=value1
  # - label2=value2
serviceAccount:
  main:
    enabled: true
    primary: true
rbac:
  main:
    enabled: true
    primary: true
    clusterWide: true
    rules:
      - apiGroups:
          - "*"
        resources:
          - "*"
        verbs:
          - "*"
service:
  main:
    ports:
      main:
        port: 10400
        protocol: https
        targetPort: 9443
  edge:
    enabled: true
    ports:
      edge:
        enabled: true
        port: 10401
        targetPort: 10401
persistence:
  data:
    enabled: true
    mountPath: "/data"
  cache:
    enabled: true
    mountPath: "/.cache"
    type: emptyDir

workload:
  main:
    podSpec:
      automountServiceAccountToken: true
      containers:
        main:
          imageSelector: image
          probes:
            liveness:
              port: 9443
              type: https
            readiness:
              port: 9443
              type: https
            startup:
              port: 9443
              type: https
updated: true
