# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/pmmp/pocketmine-mp
  pullPolicy: IfNotPresent
  tag: 5.40.0@sha256:65efde22523b8d72dac77e36f3da23798fd5dff7c00f8177ba3b9d3207eef571

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0

service:
  main:
    ports:
      main:
        protocol: udp
        targetPort: 19132
        port: 19132

workload:
  main:
    podSpec:
      containers:
        main:
          tty: true
          stdin: true
          probes:
            # -- Liveness probe configuration
            # @default -- See below
            liveness:
              enabled: false
            # -- Redainess probe configuration
            # @default -- See below
            readiness:
              enabled: false
            # -- Startup probe configuration
            # @default -- See below
            startup:
              enabled: false

persistence:
  data:
    enabled: true
    mountPath: "/data"
  plugins:
    enabled: true
    mountPath: "/plugins"
