# yaml-language-server: $schema=./values.schema.json
image:
  repository: oci.trueforge.org/containerforge/kavita
  pullPolicy: IfNotPresent
  tag: "0.8.8.3@sha256:70f606fa3ca29c6b9892c34d38e64694919e67dab4aebbeb2037b46cb3d2f731"
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
service:
  main:
    ports:
      main:
        targetPort: 5000
        port: 10189
persistence:
  config:
    enabled: true
    mountPath: "/config"
  manga:
    enabled: true
    mountPath: "/manga"
  tmp:
    enabled: false
