image:
  repository: oci.trueforge.org/containerforge/kavita
  pullPolicy: IfNotPresent
  tag: "0.8.8.3@sha256:8a6c8030f2cd27f09f54bd9c57c9c658c889d45e96d95c4d1fb4f362030f8a8b"
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
service:
  main:
    ports:
      main:
        targetPort: 5000
        port: 10189
persistence:
  config:
    enabled: true
    mountPath: "/config"
  manga:
    enabled: true
    mountPath: "/manga"
  tmp:
    enabled: false
