# yaml-language-server: $schema=./values.schema.json
image:
  repository: oci.trueforge.org/containerforge/code-server
  pullPolicy: IfNotPresent
  tag: "4.109.2@sha256:a6d8af0881a08d86b61029da2d586611baaae82d52abd37d0476f5d5e3f3e321"
securityContext:
  container:
    readOnlyRootFilesystem: false
    allowPrivilegeEscalation: true
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
service:
  main:
    ports:
      main:
        port: 10063
        protocol: http
        targetPort: 8443
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: http
              path: /
            readiness:
              type: http
              path: /
            startup:
              type: http
              path: /
          env:
            PROXY_DOMAIN: ""
          args:
            - --user-data-dir
            - "/config/.vscode"
            - --auth
            - none
persistence:
  config:
    enabled: true
    mountPath: /config
