# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/linuxserver/filezilla
  tag: 3.68.1@sha256:e50169a5c8838921f234bcea8a016095faccde22cc97a3c5e3dfe556f76a5c88
  pullPolicy: IfNotPresent

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0

workload:
  main:
    podSpec:
      containers:
        main:
          securityContext:

service:
  main:
    ports:
      main:
        port: 10035
        protocol: http
        targetPort: 3000

persistence:
  config:
    enabled: true
    mountPath: "/config"
  varrun:
    enabled: false
