image:
  repository: ghcr.io/linuxserver/filezilla
  tag: 3.68.1@sha256:6a9c1f40341b480f211ede0b549f962c25441562ad0ea94dfcfbeaf41e5421e5
  pullPolicy: IfNotPresent

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0

workload:
  main:
    podSpec:
      containers:
        main:
          securityContext:

service:
  main:
    ports:
      main:
        port: 10035
        protocol: http
        targetPort: 3000

persistence:
  config:
    enabled: true
    mountPath: "/config"
  varrun:
    enabled: false
