# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/emberstack/kubernetes-reflector
  pullPolicy: IfNotPresent
  tag: 10.0.13@sha256:3940b4b2fce15954f6c3644a104f0a8daa71344e535b18e4181e0a6ff8b66944
operator:
  register: true

rbac:
  main:
    enabled: true
    primary: true
    clusterWide: true
    rules:
      - apiGroups:
          - ""
        resources:
          - "configmaps"
          - "secrets"
        verbs:
          - "get"
          - "list"
          - "watch"
          - "create"
          - "update"
          - "patch"
          - "delete"
      - apiGroups:
          - ""
        resources:
          - "namespaces"
        verbs:
          - "watch"
          - "list"
serviceAccount:
  main:
    enabled: true
    primary: true
kubernetesReflector:
  logLevel: Information
workload:
  main:
    podSpec:
      automountServiceAccountToken: true
      containers:
        main:
          securityContext:
            readOnlyRootFilesystem: true
            runAsNonRoot: true
          env:
            ES_Serilog__MinimumLevel__Default: "{{ .Values.kubernetesReflector.logLevel }}"
            ES_Reflector__Watcher__Timeout: ""
            ES_Reflector__Kubernetes__SkipTlsVerify: "false"
          probes:
            liveness:
              type: http
              path: /health/ready
              port: 8080
            readiness:
              type: http
              path: /health/ready
              port: 8080
            startup:
              type: http
              path: /health/ready
              port: 8080
service:
  main:
    enabled: false
