image:
  repository: ghcr.io/emberstack/kubernetes-reflector
  pullPolicy: IfNotPresent
  tag: 10.0.7@sha256:5a6e5aa5aa57d41c48e99da2389ece7107df7e541076021f2e21f730b531b147
operator:
  register: true

rbac:
  main:
    enabled: true
    primary: true
    clusterWide: true
    rules:
      - apiGroups:
          - ""
        resources:
          - "configmaps"
          - "secrets"
        verbs:
          - "get"
          - "list"
          - "watch"
          - "create"
          - "update"
          - "patch"
          - "delete"
      - apiGroups:
          - ""
        resources:
          - "namespaces"
        verbs:
          - "watch"
          - "list"
serviceAccount:
  main:
    enabled: true
    primary: true
kubernetesReflector:
  logLevel: Information
workload:
  main:
    podSpec:
      automountServiceAccountToken: true
      containers:
        main:
          securityContext:
            readOnlyRootFilesystem: true
            runAsNonRoot: true
          env:
            ES_Serilog__MinimumLevel__Default: "{{ .Values.kubernetesReflector.logLevel }}"
            ES_Reflector__Watcher__Timeout: ""
            ES_Reflector__Kubernetes__SkipTlsVerify: "false"
          probes:
            liveness:
              type: http
              path: /health/ready
              port: 8080
            readiness:
              type: http
              path: /health/ready
              port: 8080
            startup:
              type: http
              path: /health/ready
              port: 8080
service:
  main:
    enabled: false
