# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: docker.io/searxng/searxng
  tag: latest@sha256:822989ff477990cf7c7c32d201611b7160ea60ca5a330794c9a33e19f39c623a
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            BIND_ADDRESS: '{{ printf "0.0.0.0:%v" .Values.service.main.ports.main.port }}'
            INSTANCE_NAME: SearXng
            BASE_URL: ""
          probes:
            liveness:
              path: /healthz
              port: "{{ .Values.service.main.ports.main.port }}"
            readiness:
              path: /healthz
              port: "{{ .Values.service.main.ports.main.port }}"
            startup:
              type: tcp
              port: "{{ .Values.service.main.ports.main.port }}"
securityContext:
  container:
    runAsGroup: 0
    runAsUser: 0
    capabilities:
      disableS6Caps: true
      add:
        - SETUID
        - SETGID
service:
  main:
    ports:
      main:
        port: 8080
        protocol: http
persistence:
  config:
    enabled: true
    mountPath: /etc/searxng
