# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: docker.io/epoupon/fileshelter
  tag: 6.4.0@sha256:6524840f2501d8e5362200c4bf4379d6f84416211d37900171d111110c77e83a
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
service:
  main:
    ports:
      main:
        port: 5091
        targetPort: 5091
persistence:
  config:
    enabled: true
    mountPath: /var/fileshelter
