image:
  repository: ghcr.io/linuxserver/budge
  tag: 0.0.9@sha256:47824706f9c7e1b56477c3268b3a7e90f16e945e5c9353319ae66b2e1226978e
  pullPolicy: IfNotPresent
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
service:
  main:
    ports:
      main:
        port: 10165
        protocol: http
        targetPort: 80
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            NODE_ENV: "production"
persistence:
  config:
    enabled: true
    mountPath: /config
