# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/linuxserver/orcaslicer
  pullPolicy: IfNotPresent
  tag: 2.3.1@sha256:9474c0760f8909fdd45a3f9bc7ccf54ca3f0be836af9edd4f6d7151976cfd586
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
service:
  main:
    ports:
      main:
        port: 3000
persistence:
  config:
    enabled: true
    mountPath: /config
