image:
  repository: ghcr.io/linuxserver/orcaslicer
  pullPolicy: IfNotPresent
  tag: 2.3.1@sha256:bc0425698bfbb706bb377dbf0f09220c3ccf0e4566b740a3b8462b83eafd0223
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
service:
  main:
    ports:
      main:
        port: 3000
persistence:
  config:
    enabled: true
    mountPath: /config
