# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/revenz/fileflows
  tag: 26.03@sha256:9c74a8ecca60011222ece986efb27a428e55c4d0929ce9346f144b7daefb64b6
  pullPolicy: IfNotPresent
securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
    allowPrivilegeEscalation: true
    privileged: true
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: http
              path: /
            readiness:
              type: http
              path: /
            startup:
              type: http
              path: /
          env: {}
service:
  main:
    ports:
      main:
        port: 10242
        targetPort: 5000
persistence:
  data:
    enabled: true
    mountPath: /app/Data
  logs:
    enabled: true
    mountPath: /app/Logs
  temp:
    enabled: true
    mountPath: /temp
  media:
    enabled: true
    mountPath: /media
