image:
  pullPolicy: IfNotPresent
  repository: docker.io/webpsh/webps
  tag: latest@sha256:8ffd2958bf149f7d191b888f4c448c4bdf1a0b24e7b304908921e863d8098103
persistence:
  storagecache:
    enabled: true
    mountPath: /opt/exhaust
  storagepics:
    enabled: true
    mountPath: /opt/pics
    readOnly: true

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
service:
  main:
    ports:
      main:
        port: 3333
        protocol: tcp
        targetPort: 3333
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            ALLOWED_TYPES: jpg,png,jpeg,bmp,gif
            ENABLE_AVIF: "false"
            QUALITY: "80"
