# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/josh5/steam-headless
  tag: latest@sha256:82fc73169df0aa52a020bef5f05a7bda47da7d9d5b499547be5c2965581de8c6
  pullPolicy: IfNotPresent

securityContext:
  container:
    privileged: true
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0

workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              enabled: false
            readiness:
              enabled: false
            startup:
              enabled: false
          env:
            PORT_NOVNC_WEB: "{{ .Values.service.main.ports.main.port }}"
            MODE: "primary"
            # MODE = secondary
            # DISPLAY: :0
            # HOST_DBUS: true
            WEB_UI_MODE: "vnc"
            ENABLE_VNC_AUDIO: false
            # NEKO_NAT1TO1: "" needs to be the ip of the host
            ENABLE_SUNSHINE: false
            # SUNSHINE_USER: ""
            # SUNSHINE_PASS: ""
            # USER_PASSWORD: ""
            ENABLE_EVDEV_INPUTS: false

service:
  main:
    ports:
      main:
        protocol: http
        port: 8083

persistence:
  home:
    enabled: true
    mountPath: /home/default
  games:
    enabled: true
    mountPath: /mnt/games
  flatpak:
    enabled: true
    mountPath: /var/lib/flatpak
