image:
  repository: lscr.io/linuxserver/mylar3
  tag: version-v0.8.3@sha256:86b9e1f0c069d6c7b08e3a598fd923d94a9a2a7d3e4acf6c6385c356dddd3053
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 8090
        targetPort: 8090
persistence:
  config:
    enabled: true
    mountPath: "/config"
  varrun:
    enabled: true

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0
