# yaml-language-server: $schema=./values.schema.json
image:
  repository: docker.io/josh5/unmanic
  tag: 0.4.0@sha256:368b98c1ec7f188882311c8f5d60ed8724b0a4f65685575341b1abf98b0358bd
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 10157
        targetPort: 8888
persistence:
  config:
    enabled: true
    mountPath: "/config"
  library:
    enabled: true
    mountPath: "/library"
  remote:
    enabled: true
    mountPath: "/tmp/unmanic/remote_library"
  cache:
    enabled: true
    mountPath: "/tmp/unmanic"
    type: emptyDir
