# yaml-language-server: $schema=./values.schema.json
image:
  repository: ghcr.io/linuxserver/resilio-sync
  tag: 3.1.2@sha256:9592492ea177c7377740cf4b5837d7326b5ee267397107021a5c4ad6249a990d
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 8888
        targetPort: 8888
  bt-tcp:
    enabled: true
    ports:
      bt-tcp:
        enabled: true
        port: 55555
        targetPort: 55555
  bt-udp:
    enabled: true
    ports:
      bt-udp:
        enabled: true
        port: 55555
        targetPort: 55555
        protocol: udp
persistence:
  config:
    enabled: true
    mountPath: "/config"
  data:
    enabled: true
    mountPath: "/sync"
  varrun:
    enabled: true

securityContext:
  container:
    runAsNonRoot: false
    readOnlyRootFilesystem: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: tcp
              port: "{{ .Values.service.main.ports.main.targetPort }}"
            readiness:
              type: tcp
              port: "{{ .Values.service.main.ports.main.targetPort }}"
            startup:
              type: tcp
              port: "{{ .Values.service.main.ports.main.targetPort }}"
