# yaml-language-server: $schema=./values.schema.json
image:
  pullPolicy: IfNotPresent
  repository: docker.io/yacy/yacy_search_server
  tag: latest@sha256:0886697ee41fa837b03aec1065182e25a69f9b9e58a57db9f59d1a2926ea78eb
persistence:
  appdata:
    enabled: true
    mountPath: /opt/yacy_search_server/DATA

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
service:
  https:
    enabled: true
    ports:
      https:
        enabled: true
        port: 8443
        protocol: tcp
        targetPort: 8443
  main:
    ports:
      main:
        port: 8090
        protocol: http
        targetPort: 8090
