image:
  pullPolicy: IfNotPresent
  repository: docker.io/yacy/yacy_search_server
  tag: latest@sha256:e6bf7105fb28cf403d4a9d5ff4c2aa911bd1dd1bc1729f2e759bd21d19610317
persistence:
  appdata:
    enabled: true
    mountPath: /opt/yacy_search_server/DATA

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsGroup: 0
    runAsUser: 0
service:
  https:
    enabled: true
    ports:
      https:
        enabled: true
        port: 8443
        protocol: tcp
        targetPort: 8443
  main:
    ports:
      main:
        port: 8090
        protocol: http
        targetPort: 8090
