# yaml-language-server: $schema=./values.schema.json
image:
  repository: monica
  tag: 4.1.2@sha256:ea0e06effa3b87747983ca351a3a617dc1297a60e2d9a746af7121afe2d3f358
  pullPolicy: IfNotPresent
service:
  main:
    ports:
      main:
        port: 10119
        targetPort: 80
persistence:
  config:
    enabled: true
    mountPath: "/var/www/html/storage"
mariadb:
  enabled: true
  mariadbUsername: monica
  mariadbDatabase: monica

securityContext:
  container:
    readOnlyRootFilesystem: false
    runAsNonRoot: false
    runAsUser: 0
    runAsGroup: 0
workload:
  main:
    podSpec:
      containers:
        main:
          probes:
            liveness:
              type: tcp
            readiness:
              type: tcp
            startup:
              type: tcp
          env:
            APP_ENV: production
            APP_URL: https://crm.k8s-at-home.com
            DB_DATABASE: monica
            DB_USERNAME: monica
            DB_HOST:
              secretKeyRef:
                expandObjectName: false
                name: '{{ printf "%s-%s" .Release.Name "mariadbcreds" }}'
                key: plainhost
            DB_PASSWORD: "{{ .Values.mariadb.password }}"
            APP_KEY:
              secretKeyRef:
                name: appkey
                key: appkey
